@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Instrument Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

.bg-header {
    position: relative;
    background-size: cover;
    background-position: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-primary border border-primary text-white py-3.5 px-7 rounded-full hover:bg-[#698927] hover:border-[#698927] transition;
    }

    .btn-secondary {
        @apply bg-transparent border border-white text-white py-3.5 px-7 rounded-full hover:bg-[#698927] hover:border-[#698927] hover:text-white transition;
    }

    .input {
        @apply w-full p-3 border border-gray-300 rounded focus:outline-none focus:border-gray-500;
    }
}
